html {
    background-color: #1abc9c;
    text-align: center;
    margin: 0;

    font-size: 1em;
    font-weight: 500;
    font-family: Calibri;
}


body {
    margin: 0;
}


table, td, th {
    background-color: white;
    column-width: 200px;
  }
  
  table {
    width: 100%;
}


.header {
    padding: 10px;
    text-align: center;
    color: white;

    font-size: 1.2em;
}

.secheader {
    padding: 10px;
    text-align: center;
    background: lightgrey;
    color: black;

    font-weight: 750;
}


.div {
    padding: 30px;
    background-color: white;
}