html {
    background-color: black;
    text-align: center;

    color: white;
    font-size: 1em;
    font-family: Calibri;
    font-weight: 500;
}

.div {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}